html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
}

#map {
    height: 100%;
}

.places-nav{
    background-color:rgba(255,255,255,0.7);
    border-radius: 4px;
    margin-left:4em;
    margin-top:4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position:absolute;
    z-index:2;
}

.places-title {
    font-size: 3em;
    margin-bottom: 0.2em;
    text-align: center;
}

.pizza-search {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid black;
    font-size: 18px;
}

.places-list {
    list-style-type: none;
}

.places-list-item {
    font-size:1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.places-list-stars{
    text-align: center;
}

.places-row:hover {
    background-color: rgba(255, 102, 102, 0.7);
}