html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.places-nav{
    background-color:rgba(255,255,255,0.7);
    border-radius: 4px;
    margin-left:4em;
    margin-top:4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position:absolute;
    z-index:2;
}

.pizza-search {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid black;
    font-size: 18px;
}

.places-list {
    list-style-type: none;
}